<h1> Sign Up </h1>

<form action = " <%= users_url %>" method = "POST">

  <%= render partial: "layouts/login" %>

  <label for = "first_name">First Name: </label>
  <input
    type = "text"
    id = "first_name"
    name = "user[first_name]">

  <label for = "last_name">Last Name: </label>
  <input
    type = "text"
    id = "last_name"
    name = "user[last_name]">

  <button>Sign Up</button>
</form>

<br><br><br><br>

<h1> Sign In </h1>

<form action = " <%= session_url %>" method = "POST">

  <%= render partial: "layouts/login" %>

  <button>Sign In</button>
</form>
