<button class="upvote-button primary-button action-bar" data-id=<%= answer.escape('id') %>>
  <% if (!answer.escape('has_upvoted')) { %>
    Upvote | <%= answer.escape('num_upvotes') %>
  <% } else { %>
    Upvoted | <%= answer.escape('num_upvotes') %>
  <% } %>
</button>
