<div class="inline-answer">

  <textarea class="answer-form" id="body" name="title" placeholder="Write your answer"><%= answer.escape('body') %></textarea>

  <div class="answer-form-footer group">
      <button class='primary-button form-submit submit' data-id="<%= question.escape('id') %>">SUBMIT</button>
  </div>

</div>
