<button class="upvote-button primary-button action-bar" data-id=<%= answer.get('id') %>>
  <% if (!answer.get('has_upvoted')) { %>
    Upvote | <%= answer.get('num_upvotes') %>
  <% } else { %>
    Upvoted | <%= answer.get('num_upvotes') %>
  <% } %>
</button>
