<div class="answer-form-footer group">
  <button class="tertiary-button show-comments"
          data-id="<%= answer.escape('id')%>">
          Comments
  </button>
</div>


<div class="comments-to-answer">
  <div class="new-comment-to-answer group">

  </div>
</div>
