<% if(QuoraClone.currentUser.isSignedIn()) { %>

<div class="header">
  <div class="header-nav group">

      <a href="#">fauxrum</a>

      <form class="search">
        <input type="text" placeholder="Search">
      </form>

      <a href="#">Home</a>

      <a href="#questions">Write</a>

      <div class="menu-opener">
        <%= QuoraClone.currentUser.escape("first_name") %>
      </div>

      <ul class="header-menu">
        <li class="header-menu-item"><a href="#topics/new"> Follow Topics </a></li>
        <li class="header-menu-item"><a href="#user/bio"> Edit Bio</a> </li>
        <li id="sign-out-link" class="header-menu-item"> Sign Out </li>
      </ul>

      <button class="primary-button header-button">Ask Question</button>
  </div>
</div>

<% } %>
