<% if(QuoraClone.currentUser.isSignedIn()) { %>

<div class="header">
  <div class="header-nav group">

      <a href="#">fauxrum</a>

      <form class="search">
        <input type="text" placeholder="Search">
      </form>

      <a href="#">Home</a>

      <a href="#questions">Write</a>

      <div class="zone6kingz"><%= QuoraClone.currentUser.escape('first_name') %></div>


      <button class="primary-button header-button">Ask Question</button>

      <a href="#" id="sign-out-link">Sign Out</a>

  </div>
</div>

<% } %>
