<% if(QuoraClone.currentUser.isSignedIn()) { %>

  <nav class="header-nav group">
    <div class="header header-logo">
      <a href="#">LOGO</a>
    </div>

    <div class="header header-search">
      <input type="text" placeholder="Search">
    </div>

    <div class="header header-index">
      <a href="#">Home</a>
    </div>

    <div class="header header-write">
      <a href="#questions">Write</a>
    </div>

    <div class="header header-profile">
      <%= QuoraClone.currentUser.escape('first_name') %>
    </div>

    <div class="header header-ask-question">
      <a href="#questions/new">ASK QUESTION</a>
    </div>

  </nav>

    <a href="#" id="sign-out-link">Sign Out</a>

<% } else { %>

  <p>
    <a href="#users/new">Sign Up</a> |
    <a href="#session/new">Sign In</a>
  </p>

<% } %>

<hr>
