<% if(QuoraClone.currentUser.isSignedIn()) { %>

  <div class="header-nav group">

      <a href="#">LOGO</a>

      <input type="text" placeholder="Search">

      <a href="#">Home</a>

      <a href="#questions">Write</a>

      <a href="#"><%= QuoraClone.currentUser.escape('first_name') %></a>

      <a href="#questions/new">ASK QUESTION</a>

      <a href="#" id="sign-out-link">Sign Out</a>

  </ul>



<% } else { %>

  <p>
    <a href="#users/new">Sign Up</a> |
    <a href="#session/new">Sign In</a>
  </p>

<% } %>
