<div class="sign-in-logo">
  fauxrum
</div>

<div class="sign-in-subheader">
  Invigorating answers in a charming font.
</div>

<div class="sign-in-up-wrapper group">
  <div class="sign-up">
  </div>
  <div class="sign-in">
  </div>
  <a href="/auth/facebook">Facebook</a>
</div>
