<div class="sign-in-logo">
  Quoraaaaaa
</div>

<div class="sign-in-subheader">
  The best answer to some questions.
</div>

<div class="sign-in-up-wrapper group">
  <div class="sign-up">
  </div>
  <div class="sign-in">
  </div>
</div>
