<h2>LOGIN</h2>

<form>

<div>
  <div class="form-row sign-in-item group">
    <input type="email" name="user[email]" placeholder="Email">
  </div>
</div>

<div>
  <div class="form-row sign-in-item group">
    <input type="password" name="user[password]">
  </div>
</div>

  <button class="primary-button">Login</button>
</form>
