<h2>Sign In</h2>

<form>

<div class="form-row">
  <label>
    Email
    <input type="email" name="user[email]">
  </label>
</div>

<div class="form-row">
  <label>
    Password
    <input type="password" name="user[password]">
  </label>
</div>

  <button class="primary-button">Sign In</button>
</form>
