<form>
  <p class="status-msg">

  </p>
  <input class="user-bio" type="text" value="<%= bio %>">
  <button class="submit-bio">Update Bio</button>

  <input type="file" name="user[avatar]" id="input-image">
  <img src="<%= img %>" class="avatar">
  <button class="attach-image">Upload Image</button>


</form>
