<h2>SIGN UP</h2>

<form>

<div class="form-row group">
  <label>
    First Name
  </label>
    <input type="text" name="user[first_name]"
           value="<%= user.escape("first_name") %>">

</div>

<div class="form-row group">
  <label>
    Last Name
  </label>
    <input type="text" name="user[last_name]"
           value="<%= user.escape("last_name") %>">

</div>

<div class="form-row group">
  <label>
    Email
  </label>
    <input type="email" name="user[email]"
           value="<%= user.escape("email") %>">

</div>

<div class="form-row group">
  <label>
    Password
  </label>
    <input type="password" name="user[password]">
</div>
  <button class="primary-button">Sign Up</button>
</form>
