<h2>Sign Up</h2>

<form>

<div class="form-row">
  <label>
    First Name
    <input type="text" name="user[first_name]"
           value="<%= user.escape("first_name") %>">
  </label>
</div>

<div class="form-row">
  <label>
    Last Name
    <input type="text" name="user[last_name]"
           value="<%= user.escape("last_name") %>">
  </label>
</div>

<div class="form-row">
  <label>
    Email
    <input type="email" name="user[email]"
           value="<%= user.escape("email") %>">
  </label>
</div>

<div class="form-row">
  <label>
    Password
    <input type="password" name="user[password]"
           value="<%= user.escape("password") %>">
  </label>
</div>


  <button class="primary-button">Create Account</button>

</form>
