<h1> Sign Up </h1>

<form action = " <%= users_url %>" method = "POST">

  <%= render partial: "layouts/login" %>

  <%= render partial: "layouts/sign_up" %>

  <button>Sign Up</button>
</form>

<br><br><br><br>
