
  <textarea class="answer-form" id="body" name="title" placeholder="Add a Comment"><%= answerComment.escape('body') %></textarea>

  <button class='primary-button form-submit submit-comment' data-id="<%= answer.escape('id') %>">Comment</button>
