<div class="inline-answer">

  <textarea class="answer-form" id="body" name="title" placeholder="Write your answer"><%= answerComment.escape('body') %></textarea>

  <div class="answer-form-footer group">
      <button class='primary-button form-submit submit' data-id="<%= answer.escape('id') %>">SUBMIT</button>
  </div>

</div>
