<div class="inline-answer">

  <textarea class="answer-form" id="body" name="title" placeholder="Add a Comment"><%= answerComment.escape('body') %></textarea>

  <div class="answer-form-footer group">
      <button class='primary-button form-submit submit' data-id="<%= answer.escape('id') %>">SUBMIT</button>
      <button class='tertiary-button cancel'%>Cancel</button>
  </div>

</div>
