<div class='search-item'>
  <a href="#questions/<%= question.escape('id')%>">
    <div class="question-answer-item-wrapper">
      <div class="feed question-title">
        <%= question.escape('title') %>
      </div>

      <div class="feed answer-author">
        <span class="author-name"><%= author.escape('first_name') %> <%= author.escape('last_name') %></span class="author-name"> • No Bio
      </div>
    </div>
  </a>
</div>
