<div class="main-wrapper group">
  <div class="show question-title">
    <%= question.escape('title') %>
  </div>
  <div class='new-answer-div'>
    <button class='primary-button action-bar answer-question'>Write Answer</button>
  </div>
  <div class="new-answer-to-question">

  </div>

  <ul class='answers-to-question'>

  </ul>

</div>
