/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, textarea, div, ul, a, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  z-index: inherit;
  background: transparent;
}

button,
input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


div textarea {
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  overflow-y: scroll;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4;
  min-height: 50px;
  max-height: 80px;
  overflow-y: auto;
  resize: none;
  width: 100%
}

textarea:focus {
  outline-color: #2b6dad;
}

html {
  height: 100%;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

body {
  color: #333;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: auto;
  height: 100%;
  word-wrap: break-word;
}

div {
  display: block;
}

#main {
  position: relative;
  top: 52px;
}

.backdrop {
  display: block;
  clear: both;
}

.column-header {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.header {
  position: fixed;
  border-top: 2px solid #b92b27;
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.header-nav {
  position: relative;
  width: 878px;
  margin: 0px auto;
  font-size: 14px;
  font-weight: 500;
  color: #999;
  background: #fff;
  opacity: 100%;
}


.header-nav > * {
  position: relative;
  float: left;
  display: block;
  padding: 14px 20px 15px 20px;
}

.header-nav > form > input {
  outline: 0;
  position: relative;
  top: -3px;
  margin-top: 0;
  padding: 5px;
  width: 220px;
  font-size: 15px;
  line-height: normal;
  background: #eee;
  background-size: 13px 13px;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
}

.header-nav > a:first-child {
  font-weight: 400;
  color: #f00;
  padding: 6px 20px 9px 20px;
  font-size: 24px;
  font-family: "Le Monde Courrier", baskerville, serif;
  top: 2px;
}

.header-nav > div {
  cursor: default;
}

.primary-button.header-button {
  margin: 10px 20px;
  font-size: 13px;
  font-weight: 500px;
}

.header-nav a:hover {
  background: #eee;
}

.form-header {
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}

.question-form-wrapper {
  width: 410px;
  margin: 0 auto;
}

.inline-answer {
  border: 1px solid #e2e2e2;
}

.answer-form {
  min-height: 120px;
  border-radius: 0px;
}

.topic-list-item {
  float: left;
}

.main-wrapper {
  margin: 10px auto;
  width: 574px;
}

.feed.question-title {
  font-size: 19px;
  letter-spacing: -0.5px;
}

.question-title {
  color: #333;
  line-height: 1.25;
  font-weight: bold;
}

.show.question-title {
  letter-spacing: -1px;
  font-size: 24px;
}

.feed.answer-body {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  line-height: 1.4;
}

.feed.answer-author.bio {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.feed.question-answer-item {
  width: 530px;
  margin: 15px 20px;
}

.form-submit {
  float: right;
  margin-left: 8px;
  font-size: 13px;
}

.answer-form-footer {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 10px 5px 0px;
}

.answer-form-footer * {
  margin-right: 10px;
}

.primary-button {
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3e78ad;
  float: left;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
}

.action-bar {
  font-size: 13px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  background: #f1f8fb;
  color: #2b6dad;
  border: 1px solid #bbcadc;
}

.primary-button:hover {
  border: 1px solid #3a66ad;
}

.secondary-button {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #6d6d6d;
  border: 1px solid #cbcbd8;
  background: #f6f6f9;
}

.secondary-button:hover {
  border: 1px solid #656565;
  color: #656565;
}

.tertiary-button {
  color: #999;
  font-size: 12px;
}

.answer-form-footer .tertiary-button {
  position: relative;
  bottom: -5px;
}

.tertiary-button:hover {
  text-decoration: underline;
}

.question-index-item {
  padding-top: 8px;
}

.sign-in-up-wrapper input {
  margin: 5px 0;
  padding: 3px;
  height: 15px;
  width: 150px;
  box-sizing: border-box;
  min-height: 27px;
  background: #fff;
  outline: 0;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}

.sign-in-up-wrapper input:focus {
  border: 1px solid #3a66ad;
}

.topic-select-wrapper {
  width: 530px;
  margin: 50px auto;
  z-index: 1002;
  position: relative;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 2px 3px 15px black;
}

.topic-select-wrapper h2 {
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 700;
}

.topic-select-wrapper h4 {
  text-align: center;
}

.topic-wrapper {
  width: 150px;
  display: block;
  float: left;
  padding: 5px 10px;
}

.topic-option {

}



.page-header {
  font-size: 24px;
  font-family: Georgia,Times,"Times New Roman",serif;
  display: block;
  padding: 0 0 20px 0;
  margin: 0 auto;
}

.page-subheader {
  font-size: 16px;
  font-family: Georgia,Times,"Times New Roman",serif;
  display: block;
  padding: 0 0 20px 0;
  margin: 0 auto;
}

.answer-to-question {
  display: block;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid #000;
}

.new-answer-div {
  display: block;
  padding: 5px 0;
  margin: 0 0 30px 0;
}

span.author-name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.answer-author {
  color: #999;
  padding: 0 0 10px 0;
}

.comments-to-answer {
  display: none;
  background: #f6f6f6;
  padding: 10px;
}

li.comment-to-answer {
  display: block;
  width: 420px;
  padding: 8px 20px;
  margin: 0 auto;
}

.comment-text {
  display: block;
  float: left;
  padding: 16px 0 0 0;
}

.delete-comment {
  color: #ccc;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font: serif;
  padding: 10px;
  float: right;
  margin: 0 20px 0 0
}

.delete-comment:hover {
  color: #aaa;
}

.new-comment-to-answer {
  display: block;
  position: relative;
  margin: 8px 8px 8px 0;
  width: 460px;
  margin: 20px auto;
}

.new-comment-to-answer textarea {
  min-height: 27px;
  border: 1px solid #e2e2e2;
  background: #fff;
  line-height: 1.4;
  font-size: 13px;
  float: left;
  width: 375px;
}

.new-comment-to-answer button {
  float: left;
}

.submit-topics {
  margin: 20px 70%;
}

.cover-background {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: .3;
  z-index: 1001;
}

.form-row > label {
  float: left;
  display: block;
  width: 70px;
}

.form-row > input {
  position: relative;
  top: -10px;
  float: right;
  display: block;
  width: 150px;
}

.form-row:first-child {
  margin: 10px 0 0 0;
}

.sign-in {
  padding: 0 0 0 0;
}

.sign-up {
  padding: 0 35px 0 0;
}

.sign-in-item > input {
  float: right;
  background: #eee;
  width: 270px;
  font-size: 15px;
  line-height: 1.4;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 32px;
  margin-bottom: 8px;
}


.sign-in-up-wrapper {
  position: relative;
  z-index: 1111;
  width: 650px;
  padding: 22px;
  border-radius: 6px;
  margin: 40px auto 0 auto;
  border: 1px solid #dcdcdc;
  background: #fff;
  box-shadow: 0 2px 4px 0 #dcdcdc;
}

.sign-in-up-wrapper button {
  float: right;
}

.sign-in-up-wrapper h2 {
  z-index: 1111;
  font-size: 11px;
  margin: 0 0 20px 0;
  color: #666;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  padding-bottom: 8px;
}

.sign-in h2 {
  margin: 0 0 20px 35px;
}

.sign-up {
  width: 305px;
  float: left;
  border-right: 1px solid #dcdcdc;
}

.sign-in {
  width: 305px;
  float: left;
}

.sign-in-subheader {
  position: relative;
  z-index: 1111;
  text-align: center;
  font-weight: 400;
  font-family: Georgia,Times,"Times New Roman",serif;
  color: #666;
  font-size: 19px;
}

.sign-in-logo {
  position: relative;
  z-index: 1111;
  margin: 0 0 20px 0;
  color: #b00;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  font-family: "Le Monde Courrier", baskerville, serif;
}

.cover-background-picture {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: image-url("//qsf.is.quoracdn.net/-2f32a993187981f4.png");
  z-index: 3;
  opacity: .3;
}

.search-item {
  margin: 10px auto;
  width: 570px;
}

#main > .feed {
  margin: 20px auto;
}

.column-header.search {
  font-size: 24px;
  position: relative;
  top: -20px;
}
