<div class="question-answer-item-wrapper">
    <div class="show-item-description">
      Question Asked • <%= topic.get('subject') %>
    </div>
    <div class="feed question-title">
      <a href="#questions/<%= question.escape('id')%>"><%= question.escape('title') %></a>
    </div>

    <div class="answer-show">

    </div>

</div>
