
<nav class="header-nav group">
  <div class="header header-logo">
    <a href="#">LOGO</a>
  </div>

  <div class="header header-search">
    <input type="text" placeholder="Search">
  </div>

  <div class="header header-index">
    <a href="#">HOME</a>
  </div>

  <div class="header header-write">
    <a href="#questions">write</a>
  </div>

  <div class="header header-notifications">
    <a href="#">notifications</a>
  </div>

  <div class="header header-profile">
    <a href="#"><%= current_user.email %></a>
  </div>

  <div class="header header-ask-question primary-button form-submit">
    <a href="#questions/new">ASK QUESTION</a>
  </div>

</nav>
