  <label for = "first_name">First Name: </label>
  <input
    type = "text"
    id = "first_name"
    name = "user[first_name]">

  <label for = "last_name">Last Name: </label>
  <input
    type = "text"
    id = "last_name"
    name = "user[last_name]">
